<include file="Public:header"/>

<link href="__PUBLIC__/css/bootstrap-table.css" rel="stylesheet">
<link href="__PUBLIC__/self/css/index.css" rel="stylesheet">

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
            <li class="active">我的课表</li>
        </ol>
    </div><!--/.row-->

    <div class="row">
        <div class="panel panel-default">
            <div class="panel-body">
                <table data-toggle="table">
                    <thead>
                    <tr>
                        <th></th>
                        <th>星<br>期<br>一</th>
                        <th>星<br>期<br>二</th>
                        <th>星<br>期<br>三</th>
                        <th>星<br>期<br>四</th>
                        <th>星<br>期<br>五</th>
                        <th>星<br>期<br>六</th>
                        <th>星<br>期<br>日</th>
                    </tr>
                    </thead>
                    <for start="0" end="5" name="i">
                        <tr>
                            <td>
                                第{$i+1}节
                            </td>
                            <for start="0" end="7" name="j">
                                <td>
                                    <for start="0" end="count($course[$i+1+5*$j])" name="k">
                                        {$course[$i+1+5*$j][$k]}
                                        <br>
                                    </for>
                                </td>
                            </for>
                        </tr>
                    </for>
                </table>
            </div>
        </div>
    </div><!--/.row-->
</div><!--/.main-->


<include file="Public:footer"/>
<script src="__PUBLIC__/self/js/index.js"></script>
</body>

</html>